PGHOST=127.0.0.1
PGPORT=5432
PGUSER=postgres

AUTHENTIK_APP_PASSWORD=CHANGE_ME_LOCAL_ONLY
FLIMB_CENTRAL_APP_PASSWORD=CHANGE_ME_LOCAL_ONLY
ODIN_APP_PASSWORD=CHANGE_ME_LOCAL_ONLY
OPENSIPS_APP_PASSWORD=CHANGE_ME_LOCAL_ONLY
CGRATES_APP_PASSWORD=CHANGE_ME_LOCAL_ONLY
ANALYTICS_APP_PASSWORD=CHANGE_ME_LOCAL_ONLY
